<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>

      <th></th>
    </tr>
  </thead>
  <tbody id="users">
    <%= for user <- @users do %>
      <tr id="user-<%= user.id %>">
        <td><%= user.email %></td>

        <td>
          <span><%= live_redirect "Show", to: Routes.user_show_path(@socket, :show, user) %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
